// COLORS

// Names
$color-black: #000;
$color-white: #fff;
$color-silver: #ccc;

// Functions
$color-background: #222;
$color-font-light: #f9f9f9;
$color-font-dark: #333;
$color-button: #f9f9f9;
$color-accent: #e91e63;

// FONTS
$font-main: 'Monoto';

// DIMENSIONS
$dim-container-width: 800px;

// SVG
$svg-gear: '../images/gear.svg';
$svg-exit: '../images/exit.svg';